option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: "8080"

  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/health"   # EB จะเช็ค URL นี้

  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: "22"             # ให้ตรงกับ engines.node ใน package.json
